.table {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  padding: 15px;
  background: brown;
  .aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .single-player {
      padding: 30px;
      border: 7px solid black;
      border-radius: 5px;
      color: white;
      margin: 0 auto;
      background: green;
      .name {
        text-align: center;
        padding-bottom: 15px;
        font-weight: bold;
        font-size: 25px;
      }
      .player-info{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .img {
          margin: 0 15px;
          width: 70px;
          height: 90px;
          background: white;
          border: 1px solid black;
        }
        .status {
          margin: 0 15px;
        }
      }
    }
    .score {
      border: 7px solid black;
      border-radius: 5px;
      color: white;
      display: flex;
      justify-content: space-between;
      min-height: 200px;
      margin: 30px 0;
      padding: 20px 0;
      background: darkgreen;
      .player {
        position: relative;
        text-align: center;
        &.one {
          border-right: 1px solid black;
          width: 50%;
        }
        &.two {
          border-left: 1px solid black;
          width: 50%;
        }
        .name {
          font-size: 22px;
          text-decoration: underline;
          padding-bottom: 10px;
        }
        .single-score {
          position: absolute;
          bottom: 0;
          display: inline-block;
        }
      }
    }
  }
  .main {
    background: green;
    border: 2px solid black;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 15px 25px;
    .main-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .table-row,
      .cards-row {
        .card {
          width: 100px;
          height: 150px;
          margin-right: 7px;
        }
      }
      .cards-row {
        text-align: center;
      }
      .player-home {
        position: relative;
        text-align: center;
        .info-content {
          position: absolute;
          top: -30%;
          display: flex;
          justify-content: center;
          width: 60%;
          margin: 0 20%;
          background: white;
          padding: 5px;
          border: 1px solid black;
          .text {
            margin: 0;
          }
        }
      }
    }
    .deck {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .back-of-card {
        width: 100px;
        height: 150px;
      }
    }
  }
}

